<!DOCTYPE html>
<html lang="">
  <head>
    <title>Typhon Wallet</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="title" content="Typhon Wallet - Your Gateway To Cardano" />
    <meta
      name="description"
      content="Blazing fast, feature-rich, secure, beautiful web and extension Cardano wallet"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://typhonwallet.io/" />
    <meta
      property="og:title"
      content="Typhon Wallet - Your Gateway To Cardano"
    />
    <meta
      property="og:description"
      content="Blazing fast, feature-rich, secure, beautiful web and extension Cardano wallet"
    />
    <meta property="og:image" content="<%= BASE_URL %>tog.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://typhonwallet.io/" />
    <meta
      property="twitter:title"
      content="Typhon Wallet - Your Gateway To Cardano"
    />
    <meta
      property="twitter:description"
      content="Blazing fast, feature-rich, secure, beautiful web and extension Cardano wallet"
    />
    <meta property="twitter:image" content="<%= BASE_URL %>tog.png" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <style>
      body {
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
