* {
        border: none;
        border-radius: 0px;
        font-family: "JetbrainsMono Nerd Font", "Roboto", "FontAwesome",  "Helvetica";
        font-weight: bold;
        font-size: 14px;
        min-height: 22px;
    }

    window#waybar {
        background: rgba(40, 44, 52, 0.9);
        color: #ffffff;
        transition-property: background-color;
        transition-duration: .5s;
        border-radius: 5px;
    }

    #workspaces button {
        box-shadow: none;
        text-shadow: none;
        margin: 0 10px;
        padding: 0 5px;
        border-bottom: 3px solid transparent;
        color: #ffffff;
    }

    #workspaces button:hover {
        background: transparent;
        border-bottom: 3px solid #AECCE6
    }

    #workspaces button.active {
        background: #AECCE6;
        color: #242639;
    }

    #workspaces button.active:hover {
        background: #AECCE6;
        border-bottom: 3px solid transparent;
    }

    #taskbar button {
        box-shadow: none;
        text-shadow: none;
        padding: 0 10px;
        margin-right: 4px;
        margin-left: 4px;
        color: #ffffff;
    }

    #taskbar button.active {
        background: #AECCE6;
        color: #242639;
    }

    #taskbar button:hover {
        background: #242639;
    }

    #clock,
    #battery,
    #cpu,
    #memory,
    #disk,
    #custom-appmenu, 
    #custom-shutdown, 
    #custom-reboot, 
    #quit, 
    #lock,
    #user, 
    #tray,
    #temperature,
    #language,
    #backlight,
    #network,
    #pulseaudio, 
    #wireplumber,
    #tray,
    #mode,
    #idle_inhibitor {
        box-shadow: none;
        text-shadow: none;
        padding: 0 6px;
        margin: 0;
        color:#ffffff;
        /* border: 1px solid red; */
    }

   #custom-appmenu {
       margin: 0 4px;
   }

/* #clock{ */
/*     background-color: #64727D; */
/* } */
